<html>
    <head>
        <title>Blog Django</title>
    </head>
    <body>
        <div>
            <h1><a href="https://vk.com">VK.com</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I learn Python and Django.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Починил ссылку на вк</p>
        </div>
    </body>
</html>
